<!DOCTYPE html>
 <html>
 	<head>
 		<meta charset="UTF-8">
 		<title>Meu formulario</title>
 	</head>
 	<body>
 		<h1>Formulario de Dados Pessoais</h1>
         <p> Neste form você irá preencher seu dados completos</p>
         <form action="/adicionaPerfil" method="POST">
            <label for="nome">Nome</label><br>
            <input type='text' id="nomeId" placeholder="Harry" required="required" name="nome"><br>
            <label for="sobrenome">Sobrenome</label><br>
            <input type="text" id="sobrenomeId" placeholder="Potter"required="required" name="sobrenome"><br>
            <label for="sexo">Sexo</label><br>
            <input type="radio" id="mascId" name="sexo" value='masculino' >
            <label for="masc">Masculino</label><br>
            <input type="radio" id="femId" name="sexo" value='feminino'>
            <label for="fem">Feminino</label><br>
            <input type="submit" onclik="enviarForm();" value="Enviar"><br>
          </form>  
 	</body>



 </html>

